<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/image" method="get">
    <label>Tytuł</label>
    <input type="text" name="title">
    <br>
    <label>Image url</label>
    <br>
    <textarea rows="4" cols="50" name="imageUrl">

    </textarea>
    <br>

    <input type="submit" value="Dodaj mem">
    <br>
    <br>
    <br>
    <a href="/all"> Wszystkie posty</a>
    <br>
    <a href="/"> Powrót</a>
</form>

</body>
</html>